body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #FF8000, #71b7e6, #FFFFFF);
}
.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    background-color: #71b7e6;
    color: #fff;
    text-align: left;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
td {
    padding: 10px;
}
.btn {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #0056b3;
}
  .navs{
position:absolute;
top:0px;
  }